@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  .animate-twinkle {
    animation: twinkle 2s infinite alternate;
  }
}

@keyframes twinkle {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
